<% include ./partials/header %>

<div class="container">
    <h1 class="form-header">Sign Up</h1>

    <form action="/register" method="POST">
        <div class="form-group form-input align-self-center">
            <input class="form-control form-input" type="text" name="username" placeholder="Username">
            <input class="form-control form-input" type="password" name="password" placeholder="Password">
            <button class="btn btn-info form-btn">Sign Up</button>
        </div>

    </form>
</div>




<% include ./partials/footer %>